<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://d85ecz8votkqa.cloudfront.net/images/favicon.ico">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="http://localhost:1341/css/global.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost:1341/css/blog.css" />
    <script src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <meta property="og:image" content="https://d85ecz8votkqa.cloudfront.net/images/poynt-card.jpg" />
    <meta name="twitter:creator" content="@GetPoynt">
    <meta name="twitter:site" content="@GetPoynt">
</head>

<body class="{{body_class}}">
  <nav class="navbar" id="nav">
    <div class="container">
      <div id="nav-buttons-right">
        <a href="/">Blog Home</a><a href="/rss">RSS</a><button class="btn btn-blue btn-sm btn-outline subscribe-button">Stay On Poynt</button>
      </div>
      <div id="nav-image">
        <a href="https://getpoynt.com"><img class="white" src="https://d85ecz8votkqa.cloudfront.net/images/marketing/logo-white-100.png" height="36" width="140"><img src="https://d85ecz8votkqa.cloudfront.net/images/marketing/logo-100.png" height="36" width="140"></a>
      </div><div id="nav-buttons-left">
        <a class="active" href="/">Blog</a><a href="https://getpoynt.com/careers">Careers</a><a href="https://getpoynt.com/press">Press</a><a href="https://getpoynt.com/faq">FAQ</a>
      </div>
    </div>
  </nav>

  <div id="content">
    {{! Everything else gets inserted here }}
    {{{body}}}

    <div id="footer"><div class="container">
      <div id="footer-logo"><a href="https://getpoynt.com"><img src="https://d85ecz8votkqa.cloudfront.net/images/logo-100.png" height="36" width="140"></a></div>
      <div id="footer-links"><a href="https://getpoynt.com/about">About</a><a href="https://getpoynt.com/specs">Specs</a><a href="https://getpoynt.com/faq">FAQ</a><a href="/" class="active">Blog</a><a href="https://getpoynt.com/careers">Careers</a><a href="https://getpoynt.com/press">Press</a><a href="https://getpoynt.com/privacy">Privacy</a><a href="https://getpoynt.com/terms">Terms</a></div>
      <div id="footer-social"><a href="https://www.facebook.com/getpoynt" target="_blank"><span class="fa fa-facebook"></span></a><a href="https://twitter.com/getpoynt" target="_blank"><span class="fa fa-twitter"></span></a><a href="https://www.linkedin.com/company/poynt" target="_blank"><span class="fa fa-linkedin"></span></a></div>
      <div id="footer-copyright">Copyright &copy; 2014-2015 Poynt Co. All rights reserved.</div>
    </div></div>
  </div>

  <div id="subscribe"><div><form id="subscribe-form" method="post" action="https://poynt.createsend.com/t/t/s/drkhjr/"><h2>Stay On Poynt</h2><p>Subscribe to Poynt updates</p><div id="subscribe-name-group" class="subscribe-form-group"><label>Name</label><div><input id="subscribe-firstname" type="text" name="cm-f-hjydv" placeholder="First" required><input id="subscribe-lastname" type="text" name="cm-f-hjyde" placeholder="Last" required></div></div><div id="subscribe-email-group" class="subscribe-form-group"><label>Email</label><div><input id="subscribe-email" type="text" name="cm-drkhjr-drkhjr" placeholder="" required></div></div><div id="subscribe-type-group" class="subscribe-form-group"><label>I am...</label><select id="subscribe-type" name="cm-fo-hjwih" required class="slct"><option value=""></option><option value="1048740">a merchant</option><option value="1048741">a developer</option><option value="1048745">a distributor</option><option value="1048744">a fan</option></select></div><div id="subscribe-error"></div><button id="subscribe-submit" type="submit" class="btn btn-blue">Subscribe</button></form></div></div><div id="subscribe-done"><div><h2>You&rsquo;re on Poynt!</h2><p>Thanks for subscribing to our updates.<br>We&rsquo;ll keep you posted!</p></div></div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file for Casper }}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

  <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0026/8154.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>

  <script>
    !function(p,o,y,n,t){p.GoogleAnalyticsObject=y,p[y]||(p[y]=function(){(p[y].q=p[y].q||[]).push(arguments)}),p[y].l=+new Date,n=o.createElement('script'),t=o.scripts[0],n.src='//www.google-analytics.com/analytics.js',t.parentNode.insertBefore(n,t)}(this,document,'ga');ga('create', 'UA-49020603-14', 'poynt.net');ga('send', 'pageview');
  </script>

</body>
</html>
