<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="https://d85ecz8votkqa.cloudfront.net/images/favicon.ico">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="https://getpoynt.com/css/global.css" />
    <link rel="stylesheet" type="text/css" href="https://getpoynt.com/css/blog.css" />
    <script src="https://fast.fonts.net/jsapi/00651410-0699-48ff-a220-9c27019e1866.js"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
  <nav class="navbar" id="nav">
    <div class="container">
      <div id="nav-buttons">
        <a href="/">Blog Home</a><a href="/rss">RSS</a>
      </div>
      <div id="nav-image">
        <a href="https://getpoynt.com"><img class="white" src="https://d85ecz8votkqa.cloudfront.net/images/marketing/logo-white-100.png" height="36" width="140"><img src="https://d85ecz8votkqa.cloudfront.net/images/marketing/logo-100.png" height="36" width="140"></a>
      </div>
    </div>
  </nav>

  <div id="content">
    {{! Everything else gets inserted here }}
    {{{body}}}

    <div id="footer"><div class="container">
      <div id="footer-logo"><a href="https://getpoynt.com"><img src="https://d85ecz8votkqa.cloudfront.net/images/logo-100.png" height="36" width="140"></a></div>
      <div id="footer-links"><a href="/">Blog</a><a href="https://getpoynt.com/about">About</a><a href="https://getpoynt.com/specs">Specs</a><a href="https://getpoynt.com/faq">FAQ</a><a href="https://getpoynt.com/press">Press</a><a href="https://getpoynt.com/privacy">Privacy</a><a href="https://getpoynt.com/terms">Terms</a></div>
      <div id="footer-copyright">Copyright &copy; 2014 Poynt Co. All rights reserved.</div>
    </div></div>
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file for Casper }}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
